*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0B0B0B;
 overflow-x: hidden;
 

}
.top-bar{
   
     border: 1px solid #2f2f2f;
    border-radius: 8px;
  height: 12vh;
    background: #111;
}
#logo{
    position: relative;
    top: 12px;
    left: 13px;
    color: #B20710;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow:0 0 8px rgba(229,9,20,0.4);
}
#header{
    margin-left: 50vw;  
}
input{
    margin-top: 2vh;
    padding: 5px;
         color: white !important;
    border-radius: 5px;
    background-color: transparent;
    background: #181818;
border: 1px solid #333333;
}
input::placeholder{
    color: #aaa;
}

.container{
    min-height: 86vh;
    width: 73vw;

}
h1{
    font-size: 3rem;
    margin-left: 19vw;
    color: white;
}

h4{
    font-size: 1rem;
    margin-left: 30vw;
    color: white;
}

.side-bar{
 background: #111111;
     min-height: 76vh;
 width: 17vw;
   text-align: center;
    text-decoration: none;
     color: red;
     font-size: 1.25rem;
     display:flex ;
     justify-content: center;
     flex-direction: column;
     gap: 95px;
      background:#111;
    border:1px solid #2b2b2b;
    border-radius:15px;
     
}
#search{
    width: 9vw;
  background: #E50914;
color: white;
border: none;
padding: 0.29vw;
border-radius: 5px;
}

#search:hover{
    background: #FF1F1F;
}

#top-rated{
    border: none;
   font-size: 1.25rem;
    padding: 5px;
   height: 10vh;
      background: transparent;
color: red;
}
#fav{
    border: none;
    font-size: 1.25rem;
    padding: 5px;
     height: 10vh;
      background: transparent;
color: red;
}
#home{
     height: 10vh;
      background: transparent;
color: red;
font-size: 1.25rem;
    border: none;
    padding: 5px;
    
}
#home:hover{
    background: #651818;
    color: white;
}
#fav:hover{
    background: #651818;
    color: white;
}
#top-rated:hover{
    background:#651818;
    color: white;
}
.container1{
    /* margin-top: 1vh; */
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 100%;
    color: white;
    background:#111;
    border:1px solid #2b2b2b;
    border-radius:15px;
}
.boxes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap:wrap;
    margin-left: 5vw;
    margin-top: 1.55vh;
   

}

.box1{
    height: 36vh;
    width: 12vw;
    background: #1A1A1A;
border-radius: 10px;
border: 1px solid #2B2B2B;
 transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover,
.box7:hover,
.box8:hover,
.box9:hover,
.box10:hover{
      transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    border-color: #E50914;
}
img{
    height: 61%;
    width: 94%;
    object-fit: cover;
  margin-top: 0.85vh;
  border-radius: 5px;
  
  margin-left: 0.35vw;
}
.box2{
    height: 36vh;
    width: 12vw;
   background: #1A1A1A;
      border-radius: 10px;
      border: 1px solid #2B2B2B;
       transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box3{
    height: 36vh;
    width: 12vw;
   background: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #2B2B2B;
     transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box4{
    height: 36vh;
    width: 12vw;
    background: #1A1A1A;
    border: 1px solid #2B2B2B;
    border-radius: 10px;
     transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box5{
    height: 36vh;
    width: 12vw;
    background: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #2B2B2B;
     transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box6{
    height: 36vh;
    width: 12vw;
    border: 1px solid #2B2B2B;
   background: #1A1A1A;
border-radius: 10px;
 transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box7{
    height: 36vh;
    width: 12vw;
    border: 1px solid #2B2B2B;
 background: #1A1A1A;
border-radius: 10px;
 transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box8{
    height: 36vh;
    width: 12vw;
    background: #1A1A1A;
    border: 1px solid #2B2B2B;
border-radius: 10px;
 transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box9{
    height: 36vh;
    width: 12vw;
   background: #1A1A1A;
   border: 1px solid #2B2B2B;
border-radius: 10px;
 transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
.box10{
    height: 36vh;
    width: 12vw;
    background: #1A1A1A;
    /* border: 1px solid #2B2B2B; */
border-radius: 10px;
 transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}
h5{
    text-align: center;
    color: white;
}
h6{
    margin-top: 3px;
    margin-left: 20px;
    color: white;
}
.spn{
    position: relative;
    left: 1vw;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 12px;
    background: #2b2b2b;
    color: #fff;
    font-size: 11px;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
    font-weight: 400;
}

i{
    position: relative;
    bottom: 2.5vh;
    left: 10vw;
  color: red;
}
.ri-poker-hearts-fill{
    color: red;
}